.page-header, h1 {
	margin-top: 0px;
}

.tooltip {
	font-size: 15px;
}

.formtooltip {
	margin-left: 5px;
}

/*.form-or {
	text-align: center;
	font-style: italic;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}*/

.form-or {
	text-align: center;
	font-style: italic;
	font-size: 23px;
	padding-top: 15px;
	padding-bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-or:before,
.form-or:after {
    content: '';
    border-top: 2px solid #DDD;
    margin: 0 15px 0 0;
    flex: 1 0 15px;
}

.form-or:after {
    margin: 0 0 0 15px;
}

.emphasize {
	font-weight: 600;
}

fieldset { 
	margin-top: 15px;
}

#resultTable th, #AfragTable th, #BfragTable th {
	border-right: 1px solid #e5e5e5;
}

#resultTable th:last-of-type, #AfragTable th:last-of-type, #BfragTable th:last-of-type {
	border-right: none;
}

#totopbutton {
	position: fixed;
	right: 4rem;
	bottom: 2rem;
	z-index: 1;
}

.breakwords {
	overflow-wrap: break-word; 
	word-break: break-all;
}

.repulsion.odd {
	background-color: #ffd5d5 !important;
}

.repulsion.even {
	background-color: #ffe9e9;
}

#c1-select, #c2-select {
	display: none;
}

#c1searchlist, #c2searchlist {
	max-height: 30rem;
	overflow-y: auto;
}
